body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background-image: url('../images/background.png');
  font-size: 16px;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #49515a;
  text-align: left;
}

a {
  color: #54ba4e;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #2d844e;
}

.btn, a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  margin-top: 20px;
  font-weight: bold;
}

a.btn-cta-primary, .btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn-cta-primary:hover, .btn-cta-primary:hover {
  background: #2d844e;
  border: 1px solid #2d844e;
  color: #fff;
}

.last{
  margin-bottom: -3px;
}

/* ======= Header ======= */
.header{
  margin-top: 30px;
}

.header .profile-image {
  justify-content: center;
}

.header .profile-content .name {
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.header .profile-content .social a {
  background: #54ba4e;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}

.header .profile-content .social a:hover {
  background: #2d844e;
}

.header .profile-content .social a .svg-inline--fa {
  font-size: 20px;
  margin-top: 8px;
}

/* ======= Sections======= */
.section {
  margin-bottom: 30px;
}

.section .section-inner {
  background: #fff;
  padding: 20px;
}

.section .heading {
  margin-bottom: 10px;
  font-size: 24px;
}

/* ======= Latest projects section ======= */
.latest .item {
  margin-bottom: 20px;
}

.project-image {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.latest .item .title {
  font-size: 18px;
  margin-top: 10px;
}

/* ======= Secondary section ======= */
.secondary .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

/* ======= Info section ======= */
.info .svg-inline--fa {
  margin-right: 10px;
  color: #49515a;
}

.info li {
  margin-bottom: 15px;
}

.info ul {
  margin-bottom: 0px;
}

.info ul li:last-child{
  margin-bottom: 0px;
}

/* ======= Skills section ======= */
.skills .skillset .item {
  margin-bottom: 20px;
}

.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
}

.skills .skillset .level-title .level-label {
  color: #434343;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}

.skills .skillset .level-bar {
  height: 15px;
  background: #DAE3E7;
}

.skills .skillset .level-bar-inner {
  height: 15px;
  background: #54ba4e;
}

.skills .svg-inline--fa {
  margin-right: 3px;
  position: relative;
}

/* ======= Footer ======= */
.footer {
  padding: 30px 0;
}

.footer .copyright {
  line-height: 1.6;
  color: #434343;
  font-size: 14px;
}

.footer a {
  color: #54ba4e;
}

.footer .fa-heart {
  color: #54ba4e;
}

@media (max-width: 1199.98px) {
  .last{
    margin-bottom: 1px;
  }
}

@media (max-width: 991.98px) {
  .header .profile-content .name {
    text-align: center;
    margin-top: 10px;
  }

  .header .profile-content .desc {
    text-align: center;
  }

  .header{
    text-align: center;
    margin-top: 15px;
  }

  .header .btn{
    margin-top: 10px
  }

  .section {
    margin-bottom: 15px;
  }

  .info{
    padding-right: 0px;
  }

  .footer{
    padding: 15px 0;
  }

}

@media (max-width: 767.98px){
  .info{
    padding-right: 10px;
  }

  .latest .title{
    padding-top: 5px;
    text-align: center;
  }

  .latest .item{
    margin-bottom: 10px;
  }
}

@media (max-width: 575.98px){
  .info{
    padding-right: 15px;
  }
}